<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Sriracha&display=swap" rel="stylesheet">

    <title>NatFlex</title>
    <script>
      function checkCredentials(form){
        if(form.link.value ==""){
            alert("Error: Please enter a movie");
            form.link.focus();
            return false;
        }
      }
      </script>
  </head>
  <body>
    <nav>
        <div class="navbar navbar-expand-sm navbar-dark bg-dark">
            <ul class="navbar-nav">
                <a class="navbar-brand" href="#">Natflex</a>
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for("recommendations") }}">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for("profile") }}">Profile</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{{ url_for("history") }}">History</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--Form -->
    <div class="form-box movies-from">
      <form action="{{url_for('profile')}}" method="POST">
      <h1> What Movies Do You Like? </h1>
        <p><br>Please tell us which movies you like so we can recommend accordingly</p>
        <div class="form-group ">
          <label for="link">IMDB Link</label>
          <input class="form-control" id="link" type="url" name="link">
          <p></p>
          <input class="btn btn-primary" type="submit" value="Submit" />
        </div>
        
      </form>
    </div>
    
    
    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>