<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Sriracha&display=swap" rel="stylesheet">
    <title>NatFlex</title>
    <!-- <script>
        function checkPassword(form){
            if(form.password1.value != form.password2.value){
                alert("Passwords do not match")
                return false;
            }
            else{
                
                form.action = "url_for("thanks",name="lol",password="bye",gender="Pakistan")";
            }
        }
    </script> -->
  </head>
  <body>
    <div class="form-box">
        <form action="{{url_for("thanks")}}" class="form-signin" method="GET">       
          <h2 class="form-signin-heading">Sign Up</h2>
          <input type="text" class="form-control" name="username" placeholder="Full Name" required="" autofocus="" />
          <p></p>
          <input type="email" class="form-control" name="email" placeholder="Email Address" required="" autofocus="" />
          <p></p>
          <input type="password" class="form-control" name="password1" placeholder="Password" required=""/>     
          <p></p>
          <input type="password" class="form-control" name="password2" placeholder="Confirm Password" required=""/>     
          <p></p>
          <select class="form-control" id="gender" type="text" name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="unspecified">Unspecified</option>
          </select> 
          <p></p>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
        </form>
      </div>
      






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>